@{
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}


<div class="jumbotron">
    <p>
        Username <input id="Text1" type="text" /> <input id="Submit1" type="submit" value="submit" />
    </p>
    <p>
        Password      <input id="Password1" type="password" />
    </p>
</div>